body {
  text-align: center;
  background-color: #011F3F;
}
footer{
  font-family: 'Press Start 2P', cursive;
  color: #f5f3e6;
  font-size: 0.5rem;
  margin:  5%;
}
#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.play{
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  /* margin-bottom: 5%; */
  color: #FEF2BF;
  background-color: black;
  border: none;
  position: relative;
  bottom: -176px;
  left: 5px;
  width: 176px;
  height: 169px;
  z-index: 1;
  border-radius: 100%;
  
  
}
.play:hover {background-color: #090b0967}
.container {
  display: block;
  width: 70%;
  margin: auto;
  position: relative;
  bottom: 158px;
}

.btn {
 margin: 0px;
 display: inline-block;
  height: 250px;
  width: 250px;
 
 
 
}
.images{
  position: relative;
  height: 250px;
  width: 250px;
  margin: 0%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  position: relative;
  bottom: 8px;
  left: 12px;
}

.green {
  
 
}

.blue {
  position: relative;
    bottom: 3px;
    left: 9px;
    width: 244px;
    height: 247px;

}

.yellow {
  position: relative;
  bottom: 12px;
  
}

.pressed {
  box-shadow: 0 0 20px white;
 
}
